<div class="background">
    <%= link_to lists_path do %>
      <%= image_tag 'https://cdn-icons-png.flaticon.com/512/705/705062.png', class:"home-icon" %>
    <% end %>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class='m-5 col-12 col-lg-6 new-form' >
      <h1 class='text-center'>NEW LIST</h1>
      <%= simple_form_for @list, html: { autocomplete: "off", spellcheck: "false" } do |f| %>
        <%= f.input :name, input_html: { class: "input-dark" } %>
        <%= f.input :image_url, input_html: { class: "input-dark" } %>
        <%= f.submit class: 'btn btn-dark w-100 mt-3' %>
      <% end %>
    </div>
  </div>
</div>
