<div class="text-center banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>);">
  <%= link_to root_path do %>
    <%= image_tag 'https://cdn-icons-png.flaticon.com/512/705/705062.png', class:"home-icon" %>
  <% end %>
  <div class="container">
    <h1><%= @list.name.upcase %></h1>
    <div class="buttons">
      <%= link_to "Add Movies", new_list_bookmark_path(@list), class: "btn btn-ghost banner-button" %>
    </div>
  </div>
</div>
