<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('https://cdn-icons-png.flaticon.com/512/705/705062.png') %>
  </head>

  <body>
      <%= image_tag "https://cdn-icons-png.flaticon.com/512/843/843331.png", class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% if user_signed_in? %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Home", root_path, class: "dropdown-item" %>
            <%= link_to "New List", new_list_path, class: "dropdown-item" %>
            <%= link_to "Movies", "#", class: "dropdown-item" %>
            <%= link_to "Share my Lists", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        <% else %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log In", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
          </div>
        <% end %>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
